@{
    Layout = "~/Views/Shared/_Layout.Basic.cshtml";
}

@section Navigation {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Map", "Index", "Map")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </nav>
}

<div id="body">
    <hr />
    <section class="featured">
        <div class="content-wrapper">
            @RenderBody()            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <!--If i want 2 rows of menu items then i should use following code.Just need to change these menu items
         <div class="content-wrapper">
            <div class="float-right">
         <nav>
            <ul id="container">
                <li>@Html.ActionLink("Map", "Index", "Map")</li>
                </ul>
          <ul id="container2">
                <li>@Html.ActionLink("About", "About", "Home")</li>
              </ul>
         <ul id="container3">
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </nav>
        </div>
        </div>-->
        @RenderSection("RightBar", required:false)
    </section> 
    <!--i added here the footer so it appears for the map page-->
     <hr />
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - MapRover - ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
</div>

